@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mooli&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
}
body {
  @apply bg-gradient-to-br from-[#1f1c2c] to-[#928dab];
}

.footer-link {
  @apply hover:text-orange-400 hover:underline cursor-pointer transition;
}

a.active {
  @apply text-[#fbbf24] border-b border-[#fbbf24];
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradientMove {
  animation: gradientMove 10s ease infinite;
}

.premium-link {
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}
.premium-link:hover {
  color: #fbbf24;
}
.premium-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(to right, #fbbf24, #fb923c);
  transition: width 0.3s ease;
}
.premium-link:hover::after {
  width: 100%;
}

.premium-btn {
  padding: 8px 20px;
  border-radius: 10px;
  background: linear-gradient(to right, #fbbf24, #fb923c);
  font-weight: 600;
  cursor: pointer;
  color: white;
  box-shadow: 0px 0px 15px #fbbf2460;
  transition: transform 0.3s ease;
}
.premium-btn:hover {
  transform: scale(1.03);
}

/* animated btn */

/* From Uiverse.io by gharsh11032000 */
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 5px 30px;
  border: 3px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: orange;
  box-shadow: 0 0 0 2px orange;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: orange;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: orange;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: white;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: white;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px orange;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}
